WebClient/Web References/PackageStatusWS/PackageStatusWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdatePackageStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="package_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePackageStatusResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdatePackageStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePackageStatus" />
  </wsdl:message>
  <wsdl:message name="UpdatePackageStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePackageStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="PackageStatusWebServiceSoap">
    <wsdl:operation name="UpdatePackageStatus">
      <wsdl:input message="tns:UpdatePackageStatusSoapIn" />
      <wsdl:output message="tns:UpdatePackageStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PackageStatusWebServiceSoap" type="tns:PackageStatusWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdatePackageStatus">
      <soap:operation soapAction="http://tempuri.org/UpdatePackageStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PackageStatusWebServiceSoap12" type="tns:PackageStatusWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdatePackageStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdatePackageStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PackageStatusWebService">
    <wsdl:port name="PackageStatusWebServiceSoap" binding="tns:PackageStatusWebServiceSoap">
      <soap:address location="http://localhost:3624/PackageStatusWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="PackageStatusWebServiceSoap12" binding="tns:PackageStatusWebServiceSoap12">
      <soap12:address location="http://localhost:3624/PackageStatusWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>